<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            POI Reviews
        </caption>
        <thead>
        <th>Rating </th>
        <th>Review</th>
        <th>Reviewer</th>
        </thead>

        <tbody class="uk-text-left">
        {{#each pois}}
            <tr>
                <form action="/displayReviewPOI" method="POST">
                    <td>{{rating}}</td>
                    <td>{{review}}</td>
                    <td>{{reviewer.firstName}}, {{reviewer.lastName}}</td>
                    <input type="hidden" value={{_id}} name="id" />
                    <td><button type="submit"  class="uk-button uk-button-primary uk-button-large uk-width-1-1">Add Review</button></td>
                </form>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

